[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
redis = "*"
python-decouple = "*"
django-celery-results = "*"
psycopg2-binary = "*"

[dev-packages]
isort = "*"
blue = "*"
ipdb = "*"

[requires]
python_version = "3.11"
